[core]
  whitespaces = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ../.gitignore

[apply]
  whitespace = fix

[mergetool "threesome"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
  trustExitCode = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  status = auto

[color "status"]
    changed=green

[alias]
  a = add -A
  s = status
  p = push
  ci = commit
  co = checkout
  br = branch
  df = diff
  rb = rebase
  lp = log --pretty=oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
  lt = log --graph --oneline --all
  today = log --since=midnight --author='Edvinas Jurevicius' --oneline

[user]                                                                        
  name = Edvinas Jurevicius
  email = ikonitas@gmail.com

[push]
	default = current

[pull]
	default = simple
[init]
	templatedir = ~/.git-configs
